// Import partials for critical css content
@import "index";
@import "variables";
@import "recipes";
@import "layout";
@import "basic";
@import "../assets/css/recipe-list";
@import "../assets/css/critical";

//I don't kmow what's going on here but i need to clean it up
