<nav>
    <a href="/recipes/">
        <svg aria-label="Recipes" class="icon">
            <use xlink:href="/assets/fontawesome/icons.svg#utensils"></use>
        </svg>
    </a>
    <a href="/drinks/">
        <svg aria-label="Cocktails" class="icon">
            <use xlink:href="/assets/fontawesome/icons.svg#glass-martini-alt"></use>
        </svg>
    </a>
    <a href="/crosswords.html">
        <svg aria-label="Crosswords" class="icon">
            <use xlink:href="/assets/fontawesome/icons.svg#crossword"></use>
        </svg>
    </a>
</nav>
