<div class="reading_list">
  {% for link in site.data.pocket limit: page.article_count %}
  <span class="title"
    >><a href="{{link[1].resolved_url}}">{{link[1].resolved_title}}</a></span
  >
  <span class="domain">{{link[1].domain_metadata.name | default:"&ZeroWidthSpace;"}}</span>
  <br />
  {% endfor %}
</div>
<div class="read_more">
  {% if page.url == "/" && site.data.pocket.size > 3 %}
  <span class="read_more"><a href="/newsfeed.html">More Articles</a></span
  ><br />
  {% endif %}
</div>
