<div class="reading_list">
  {% for link in site.data.reads limit: page.article_count %}
  {% if link.title != "" %}
  <span class="title"><a href="{{link.link}}">{{link.title}}</a></span>
  <span class="preview">{% if link.summary %}{{link.summary | strip_html }}{% endif %}</span>
  <span class="break"><br></span>
  {% endif %}
  {% endfor %}
</div>
<div class="read_more">
  {% if page.url == "/" && site.data.reads.size > 3 %}
  <span class="read_more"><a href="/newsfeed.html">More Articles</a></span><br>
  {% endif %}
</div>
