<aside class="header">
  <nav class="header-photo">
    <a href="{{ "/" | relative_url }}" class="title" aria-label="profile photo">
      <picture>
        <source sizes="(max-width: 767px) 50vw, (min-width: 768px) 5vw, 150px" srcset="/assets/images/profile/profile-150-date012322.webp 150w, /assets/images/profile/profile-200-date012322.webp 200w, /assets/images/profile/profile-250-date012322.webp 250w, /assets/images/profile/profile-300-date012322.webp 300w, /assets/images/profile/profile-350-date012322.webp 350w, /assets/images/profile/profile-400-date012322.webp 400w, /assets/images/profile/profile-500-date012322.webp 500w, /assets/images/profile/profile-600-date012322.webp 600w, /assets/images/profile/profile-700-date012322.webp 700w, /assets/images/profile/profile-800-date012322.webp 800w" type="image/webp">
        <source sizes="(max-width: 767px) 50vw, (min-width: 768px) 5vw, 150px" srcset="/assets/images/profile/profile-150-b1158b405.jpg 150w, /assets/images/profile/profile-200-b1158b405.jpg 200w, /assets/images/profile/profile-250-b1158b405.jpg 250w, /assets/images/profile/profile-300-b1158b405.jpg 300w, /assets/images/profile/profile-350-b1158b405.jpg 350w, /assets/images/profile/profile-400-b1158b405.jpg 400w, /assets/images/profile/profile-500-b1158b405.jpg 500w, /assets/images/profile/profile-600-b1158b405.jpg 600w, /assets/images/profile/profile-700-b1158b405.jpg 700w, /assets/images/profile/profile-800-b1158b405.jpg 800w" type="image/jpeg">
        <img class="profile-photo" src="/assets/images/profile/profile.jpg" alt="Profile Photo" width="1522" height="1522">
      </picture>
    </a>
  </nav>
  <nav class="header-links">
    {%- for item in include.menu -%}
      {%- assign node = site.pages | where: "name", item.file | first -%}
      {%- assign url = item.url | default: node.url -%}
      {%- assign title = item.title | default: node.title -%}
      <a href="{{ url | relative_url }}" class="nav-links {% if url == page.url %} selected{% endif %}">
        {%- if item.icon == 11 -%}<svg aria-label="{{ title }}" class="icon"><use xlink:href="{{ "/assets/fontawesome/icons.svg" | relative_url }}#{{ item.icon }}"></use></svg>{%- else -%}{{ title }}{%- endif -%}
      </a>
    {%- endfor -%}
  </nav>
</aside>
