/* FILTERING RULES –––––––––––––––––––––––––––––––––––––––––––––––––– */ {% for
category in site.data.recipe_categories %} [value="{{category.name}}"]:checked ~
.filters [for="{{category.name}}"]{% unless forloop.last %}, {% endunless %}{%
endfor %} { background: transparent; color: var(--white); border-bottom: 0.25rem
solid #DCE0E6; padding: 0.25rem; margin-bottom: -.25rem; } {% for category in
site.data.recipe_categories %} [value="{{category.name}}"]:not(:checked) ~ ol li
label[for="{{category.name}}"]{% unless forloop.last %}, {% endunless %}{%
endfor %} { color: #AFAFBD; } {% for category in site.data.recipe_categories %}
[value="{{category.name}}"]:not(:checked) ~ ol li
label:hover[for="{{category.name}}"]{% unless forloop.last %}, {% endunless %}{%
endfor %} { color: #FAFA33; } [value="All"]:checked ~ .image-grid
[data-category] { display: block; } {% for category in
site.data.recipe_categories offset:1 %} [value="{{category.name}}"]:checked ~
.image-grid .image-container:not([data-category~="{{category.name}}"]){% unless
forloop.last %}, {% endunless %}{% endfor %} { display: none; }
