$font-size: 16px !default;
$font-weight: 400 !default;
$font-family: "Raleway", -apple-system, "Helvetica Neue", "Segoe UI", "Roboto",
  sans-serif !default;
$heading-weight: 600 !default;
$line-height: 1.6 !default;
$link-color: #68f !default;
$dark: #0a0a0a !default;
$light: #ffffff !default;

@function reduce($percent) {
  @return rgba(mix($dark, $light), calc($percent / 100));
}

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";
$desktop-width: 768px;

$light-grey: #999;

// this needs to stay in sass because it's imported by other sass files.
