nav {
  margin: 0;
  display: inline-block;
}
nav {
  a {
    margin: .5em .75em;
    .title {
      margin: .75em .75em;
      picture img {
        display: block;
      }
    }
    .links {
      font-size: 1.75vw;
      margin: 0em .75em;
    }
  }
}
//header CSS
.header nav {
  display: flex;
  justify-content: center;
  align-content: space-between;
}
nav.header-photo {
    padding-top: 2vh;
}
nav.header-links {
    margin: 0em;
}


.profile-photo {
  border-radius: 50% !important;
  width: 17vh !important;
  height: 17vh !important;
  border: .25em solid #ffffff !important;
  margin: 0em !important;
}
