nav {
  margin-left: -1.2em;
  margin-right: -1.2em;
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  .name,
  .header-photo {
  }
}
nav {
  a {
    margin: .5em .75em;
    .title {
      margin: .75em .75em;
      picture img {
        display: block;
      }
    }
    .links {
      margin: 0em .75em;
    }
  }
  .header-photo {
    padding-top: 1vw;
}
//header CSS
.header {
  display: flex;
  justify-content: center;
  align-content: space-between;
}

.profile-photo {
  border-radius: 50% !important;
  width: 5em !important;
  height: 5em !important;
  border: .25em solid #ffffff !important;
  margin: 0em !important;
}
.header-links {
  margin: 0em;
}
