div.reading_list {
  color: $light;
  br {
    line-height: 1rem;
  }
  .break {
    line-height: 1.5rem;
  }
  .title {
    font-size: .9rem;
    max-width: 20rem;
    margin-bottom: 0.2rem;
    line-height: 1.3;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  	overflow: hidden;
    a {
      color: #29b6f6;
    }
  }
  .preview {
    max-width: 19rem;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .8rem;
    line-height: 1.2;
    display: inline-block;
    a {
      color: #aaaaaa;
    }
  }
}

.recently-read {
  margin-top: .75rem;
  margin-bottom: .75rem;
}
