div.reading_list {
  text-color: $light;
  br {
    line-height: 1rem;
  }
  .break {
    line-height: 1.5rem;
  }
  .title {
    font-size: .9em;
    max-width: 20em;
    margin-bottom: -0.2rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  	overflow: hidden;
    a {
      color: #29b6f6;
    }
  }
  .domain {
    max-width: 19em;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .8em;
    a {
      color: #aaaaaa;
    }
  }
}

.recently-read {
  margin-top: .75rem;
  margin-bottom: .75rem;
}
