//from recipe-list.scss

main .container {
  margin: 0;
  max-width: 5000px;
}

.text-hover {
  font-size: 3vh;
  color: white;
  margin: 0px;
}

.bottom-left {
    // position: absolute;
	// bottom: 8px;
	// left: 16px;
  height: 100%;
  width: 100%;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 3fr));
  grid-gap: 1vw;
  align-items: stretch;
}

.image-container {
  float: left;
  position: relative;
  text-align: center;
}

.photo-large {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;

}

img:not([src]):not([srcset]) {
  visibility: hidden;
}

// input[type="radio"]
  // position: absolute;
  // left: -9999px;

input[type="radio"] {
  display: none;
}
\:root {
  black: #1a1a1a;
  white: #fff;
  green: #49b293;
}

ol.filters {
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  line-height: 0px;
  margin-bottom: .25rem;
}
ol.filters li + li {
  margin: 10px 0px 0px 0px;
}

ol.filters li label {
  cursor: pointer;
}

.filters {
  text-align: center;
  margin-bottom: .5rem;
}

.filters * {
  display: inline-block;
  font-size: 4vw;
}

@media only screen and (min-width: 768px) {
  .filters * {
    font-size: 2vw;
  }
}

.filters span {
  padding: 0.25rem 0.25vw 0.5rem 0.25vw;
  margin-bottom: 0.25rem;
  line-height: 1.6rem;
}

.filters label {
  padding: 0.25rem 0.25vw 0.25rem 0.25vw;
  margin-bottom: 0rem;
  border-bottom: 0.25rem transparent;
  // border-radius: 2rem;
  // min-width: 50px;
  // line-height: normal;
  // cursor: pointer;
  transition: all 0.5s;
}
