@font-face {
  font-family: Quicksand;
  src: url("/assets/fonts/Quicksand-VariableFont_wght.ttf")
      format("truetype supports variations"),
    url("/assets/fonts/Quicksand-VariableFont_wght.ttf")
      format("truetype-variations");
  font-weight: 100 1000;
  font-style: normal;
}
@font-face {
  font-family: Raleway;
  src: url("/assets/fonts/Raleway-VariableFont_wght.ttf")
      format("truetype supports variations"),
    url("/assets/fonts/Raleway-VariableFont_wght.ttf")
      format("truetype-variations");
  font-weight: 100 1000;
  font-style: normal;
  font-display: fallback;
}
.title {
  font-size: 1.4em;
}
.header {
  display: flex;
  place-content: space-between center;
}
.no-split {
  display: inline-block;
}
.profile-photo {
  border-radius: 50% !important;
  width: 5em !important;
  height: 5em !important;
  border: 0.25em solid rgb(255, 255, 255) !important;
  margin: 0 !important;
}
.header-links {
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  background: rgb(10, 10, 10);
  color: rgb(255, 255, 255);
  font-family: Raleway, -apple-system, "Helvetica Neue", "Segoe UI", Roboto,
    sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  min-height: 100vh;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
article {
  flex-grow: 1;
}
body > article {
  padding: 0.75rem 1.5rem;
}
nav {
  margin: 0 -1.2em;
  display: inline-block;
}
nav a {
  margin: 0.5em 0.75em;
}
body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
h3 {
  font-weight: 600;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
p {
  text-align: left;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
a {
  color: rgb(102, 136, 255);
  text-decoration: inherit;
}
.my-net-diary {
  color: rgb(73, 214, 234) !important;
}
aside a {
  color: inherit;
}
hr {
  border: 1px solid rgba(133, 133, 133, 0.3);
  margin: 2em 0;
}
img {
  margin: 0.5em 0;
  border-radius: 2px;
  max-width: 100%;
  height: auto;
}
:not(pre) > code {
  font-size: 0.9em;
  background: rgba(133, 133, 133, 0.15);
  opacity: 0.7;
  border-radius: 2px;
  margin: 0 0.1em;
  padding: 0.2em 0.4em;
}
div.reading_list br {
  display: none;
}
div.reading_list .title {
  font-size: 0.9em;
  max-width: 20em;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
div.reading_list .title a {
  color: rgb(41, 182, 246);
}
div.reading_list .domain {
  max-width: 19em;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8em;
}
p.main-divider {
  margin-bottom: 0.75rem;
}
p.main-divider + hr {
  height: 0.025rem;
  margin-top: -0.25rem;
  margin-bottom: -0.25rem;
  color: rgb(255, 255, 255);
  width: 50%;
}
.recently-read {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
@media (min-width: 768px) {
  body > article {
    padding: 1em calc(40% - 17em) 0;
  }
}
@media only screen and (min-width: 768px) {
  .header {
    display: flex;
    place-content: center space-between;
  }
  .title {
    margin: 1em 0 0 1em;
  }
  p.main-divider + hr {
    height: 2px;
    border: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgba(133, 133, 133, 0.14);
  }
  html {
    padding: 0;
  }
  body {
    font-size: 1.06em;
    margin: 0 0 0 14em;
    max-width: inherit;
    overscroll-behavior: none;
  }
  body > article {
    margin: 0 5em;
    padding: 2em 0;
    max-width: 50em;
  }
  aside {
    position: fixed;
    vertical-align: middle;
    overflow: auto;
    background: rgb(5, 5, 5);
    color: rgb(255, 255, 255);
    padding: 1em;
    width: 10em;
    top: 0;
    bottom: 0;
    left: 0;
    display: block !important;
  }
  aside nav {
    display: block !important;
  }
  aside nav a {
    display: inline-block !important;
  }
  nav {
    margin: 0;
  }
  nav a {
    display: block;
    margin: 0;
    padding: 0.5em 2em;
  }
  nav a.title {
    padding: 0.5em 0;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background: rgb(10, 10, 10);
    color: rgb(255, 255, 255);
  }
}
