@font-face {
  font-family: quicksand;
  src: url("/assets/fonts/Quicksand-VariableFont_wght.ttf")
      format("truetype supports variations"),
    url("/assets/fonts/Quicksand-VariableFont_wght.ttf")
      format("truetype-variations");
  font-weight: 100 1000;
  font-style: normal;
}
@font-face {
  font-family: raleway;
  src: url("/assets/fonts/Raleway-VariableFont_wght.ttf")
      format("truetype supports variations"),
    url("/assets/fonts/Raleway-VariableFont_wght.ttf")
      format("truetype-variations");
  font-weight: 100 1000;
  font-style: normal;
  font-display: fallback;
}
.title {
  font-size: 1.4em;
}
.header {
  display: flex;
  place-content: space-between center;
}
.header nav {
  display: inline-block;
  vertical-align: middle;
}
.no-split {
  display: inline-block;
}
body {
  background: rgb(10, 10, 10);
  color: rgb(255, 255, 255);
  font-family: raleway, -apple-system, "helvetica neue", "segoe ui", roboto,
    sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  min-height: 100vh;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
h3 {
  font-weight: 600;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
p {
  text-align: left;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
a {
  color: rgb(102, 136, 255);
  text-decoration: inherit;
}
.my-net-diary {
  color: rgb(73, 214, 234) !important;
}
header a {
  color: inherit;
}
hr {
  border: 1px solid rgba(133, 133, 133, 0.3);
  margin: 2em 0;
}
:not(pre) > code {
  font-size: 0.9em;
  background: rgba(133, 133, 133, 0.15);
  opacity: 0.7;
  border-radius: 2px;
  margin: 0 0.1em;
  padding: 0.2em 0.4em;
}
div.reading_list br {
  display: none;
}
div.reading_list .title {
  font-size: 0.9em;
  max-width: 20em;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
div.reading_list .title a {
  color: rgb(41, 182, 246);
}
div.reading_list .domain {
  max-width: 19em;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8em;
}
p.main-divider {
  margin-bottom: 0.75rem;
}
p.main-divider + hr {
  height: 0.025rem;
  margin-top: -0.25rem;
  margin-bottom: -0.25rem;
  width: 50%;
}
.recently-read {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
body > header {
  box-shadow: rgba(10, 10, 10, 0.04) 0 0 0.6em;
}
@media (min-width: 40em) {
  body > article,
  body > header {
    padding: 1em calc(40% - 17em);
  }
}
@media only screen and (min-width: 768px) {
  .header {
    place-content: center space-between;
  }
  p.main-divider + hr {
    height: 0;
    border: 0;
    color: rgba(133, 133, 133, 0.3);
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background: rgb(10, 10, 10);
    color: rgb(255, 255, 255);
  }
}
