---
---

body {
  font-family: Verdana, system-ui, Helvetica, sans-serif;
  font-size: 16px;
  color: #34302e;
  margin: 0.25in;
}
.name {
  font-size: 18px;
  font-family: Verdana, system-ui, Helvetica, sans-serif;
  font-weight: normal;
  margin: 0 0 10px 0;
}
.categories {
  color: #605d5d;
  font-size: 14px;
  font-family: Verdana, system-ui, Helvetica, sans-serif;
  font-style: italic;
}
.rating {
  color: #d10505;
  font-size: 14px;
}
.metadata {
  font-size: 14px;
}
.infobox p {
  margin: 0;
  line-height: 150%;
}
.subhead {
  color: #d10505;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  margin: 10px 0;
}
.ingredients p {
  margin: 4px 0;
}
.clear {
  clear: both;
}
a {
  color: #4990e2;
  text-decoration: none;
}
/* Full page specific styles */
.text {
  line-height: 130%;
}
.photobox {
  float: left;
  margin-right: 14px;
}
.photo {
  width: auto;
  height: auto;
}
.writeup-photo {
  width: 70%;
  height: auto;
}
