
main .container{
	margin: 0;
	max-width: 5000px;
}

.text-hover {
	font-size: 14px;
	color: white;
	margin: 0px;
}

.bottom-left {
	/* position: absolute; */
	/* bottom: 8px; */
	/* left: 16px; */
	height: 30px;
	width: 100%;
}

.image-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 3fr));
	grid-gap: 10px;
	align-items: stretch;
}

.image-container {
	float: left;
	position: relative;
	text-align: center;
}

.photo-large {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

img:not([src]):not([srcset]) {
  visibility: hidden;
}

input[type="radio"] {
  position: absolute;
  left: -9999px;
}

:root {
  --black: #1a1a1a;
  --white: #fff;
  --green: #49b293;
}

.filters {
  text-align: center;
  margin-bottom: .5rem;
}

.filters * {
  display: inline-block;
}

.filters label {
  padding: 0.25rem 0.25rem;
  margin-bottom: 0.25rem;
  /* border-radius: 2rem;
  min-width: 50px;
  line-height: normal; */
  /* cursor: pointer;
  transition: all 0.1s; */
}

.filters label:hover {
  background: transparent;
  color: var(--white);
}
