---
layout: default
---

<article>
  {% include meta.html post=page %}
  {{ content }}

  <h2> My Steps </h2>
  <svg width="300" height="170" viewBox="0 0 300 170" class="chart">
    <g class="grid x-grid" id="xGrid">
      <line x1="0" x2="0" y1="0" y2="151" stroke="#DDDDDD" stroke-width=".5"></line>
    </g>
    <g class="grid y-grid" id="yGrid">
      <line x1="0" x2="300" y1="151" y2="151" stroke="#DDDDDD" stroke-width=".5"></line>
    </g>
    <g class="grid y-grid" id="yMarks">
      <line x1="0" x2="5" y1="0" y2="0" stroke="#DDDDDD" stroke-width=".5"></line>
      <line x1="0" x2="5" y1="50" y2="50" stroke="#BBBBBB" stroke-width=".25"></line>
      <line x1="0" x2="5" y1="100" y2="100" stroke="#BBBBBB" stroke-width=".25"></line>
    </g>
    <g class="labels y-labels">
      <text x="5" y="20" fill="#BBBBBB" font-size=".8em">15,000 steps</text>
      <text x="5" y="163" fill="#BBBBBB" font-size=".8em">{{site.data.steps[0].Date[0]| slice: 0, 10 | date_add: 2, "day" | date: "%b %e" | downcase }}</text>
      <text x="270" y="163" fill="#BBBBBB" font-size=".8em">today</text>
    </g>
    <g class="chartpoint  id="chartpoints">
      <polyline
         fill="none"
         stroke="#FFFFFF"
         stroke-width="1"
         points="
         {% for step in site.data.steps %}
         {{forloop.index0 | times: 5| plus: 15}}, {{step[1]['Value'] | divided_by: 100 | minus: 150 | times: -1 }}
         {% endfor %}
         "/>
      </g>
</svg>


</article>
