---
layout: page
---
<script async="true" src="https://cdn.whisk.com/sdk/shopping-list.js" type="text/javascript"></script>
<script>
  var whisk = whisk || {};
  whisk.queue = whisk.queue || [];

  whisk.queue.push(function () {
   whisk.shoppingList.defineWidget("GJZN-WDYB-USBK-RIMR", {
      styles: {
        type: "add-to-list",
        size: "large",
        linkColor: "#FFF",
        backgroundColor: "#FFF",
        button: {
          borderRadius: 10,
          text: "Save to Whisk"
        }
      }
    })
   });

</script>
<script type="application/ld+json">
  {
  	"@context": "https://schema.org",
  	"@type": "Recipe",
    "author": {
  		{% if page.source_url == "" %}
  		"@type": "Person",
  		{% if page.source == "Me" or page.source == author.short or page.source == site.author or page.source == "" %}
  		"name": "{{author.short}}",
  		"url": "{{ site.url }}"
  		{% else %}
  		"name": {{page.source}},
  		"url": ""
  		{% endif %}
  		{% else %}
  		"@type": "Organization",
  		"name": "{{page.source}}",
  		"url": "{{page.source_url}}"
  		{% endif  %}
  	},
  	"description": "A recipe for {{page.title}}, with my rating and potentially some notes. Adapted from: {{page.source_url}}",
  	"image": "{{site.url}}/assets/{{page.image_url}}",
  	"url": "{{page.url | absolute_url }}",
  	{% if page.servings != "" %}
  	"recipeYield": "{{ page.servings }}",
  	{% endif %}
  	{% if page.prep_time != "" %}
  	"prepTime": "{{ page.prep_time | date: '%T' }}",
  	{% endif %}
  	{% if page.cook_time != "" %}
  	"cookTime": "{{ page.cook_time}}",
  	{% endif %}
  	{% if page.rating!= 0 %}
  	"aggregateRating": {
  		"@type": "AggregateRating",
  		"ratingValue": "{{ page.rating }}",
  		"reviewCount": "1"
  	},
  	{% endif %}
  	"recipeIngredient": [
  		{% for item in page.ingredients %}
  		"{{ item | escape }}"{% unless forloop.last %},{% endunless %}
  		{% endfor %}
  	],
  	"name": "{{page.title}}",
  	"recipeInstructions": [
  	{% for item in page.directions %}
  	{
    	"@type": "HowToStep",
    	"text": "{{ item | escape }}"
  	}{% unless forloop.last %},{% endunless %}
  	{% endfor %}
  	]
  }
</script>

<link
  rel="stylesheet"
  media="screen"
  href="{{ site.url }}/assets/css/stylesheet.css"
/>
{% if page.print_stylesheet %}
<link
  rel="stylesheet"
  media="print"
  href="{{ site.url }}/assets/css/print.css"
/>
{% endif %} {% capture image_path %} {{ page.image_url }} {% endcapture %}

<div class="post">
  <meta property="og:title" content="{{page.source}}" />
  <div class="photo">
    {% if page.image_url and page.image_url != "" %} {% picture {{
    page.image_url }} 1:1 --alt {{ page.title }} %} {% endif %}
  </div>
  {% assign path = page.uid | prepend: '/recipes/writeups/' | append: ".md"  %}
  {% assign path_part = page.uid | prepend: 'writeups/' | append: ".md"  %}
  {% assign file_exists = site.static_files | where: "path", path  %}
  {% if file_exists.size != 0 %}
  {% capture writeup_include %}{% include_relative writeups/{{ page.uid }}.md %}{% endcapture %}
  {{ writeup_include |
  replace: '"<img', '<img' | replace: '""', '"' | replace: 'img>"', 'img>' |
  markdownify }}
  {% endif %}
  {% for category in page.categories %} {% if category == "Writeup" %} {%
  capture my_include %}{% include_relative writeups/{{ page.name | downcase |
  replace: " ", "-" | replace: "á", "a" | remove: "(" | remove: ")" | remove:
  "[" | remove: "]" | remove: "'" | remove: "&" | remove: "!" | remove: "’" |
  remove: "," | replace: ".html", ".md"}} %}{% endcapture %} {{ my_include |
  replace: '"<img', '<img' | replace: '""', '"' | replace: 'img>"', 'img>' |
  markdownify }} {% endif %} {% endfor %}
  <ul id="recipe" class="recipe-overview">
    {% if page.servings != "" %}
    <li title="Servings">
      {% include recipe-icon.html icon="quantity" %}<span
        >{{ page.servings }}</span
      >
    </li>
    {% endif %} {% if page.prep_time != "" %}
    <li title="Prep Time">
      {% include recipe-icon.html icon="time" %}<span
        >{{ page.prep_time }}</span
      >
    </li>
    {% endif %} {% if page.cook_time != "" %}
    <li title="Cook Time">
      {% include recipe-icon.html icon="cook" %}<span
        >{{ page.cook_time }}</span
      >
    </li>
    {% endif %} {% if page.rating!= 0 %}
    <li>
      My Rating: <b class="rating">{% for i in (1..page.rating) %}★{% endfor %}</b>
    </li>
    {% endif %}
    <li>
      {% if page.source == "Me" or page.source == "Chris Nicholson" or
      page.source == "Chris F. Nicholson" or page.source == "" %} {% elsif
      page.source_url == "" %} by {{page.source}} {% else %}
      <a href="{{page.source_url}}">{{page.source}}</a>
      {% endif %}
    </li>
  </ul>
  <ul class="recipe-nutrition">
    {% assign myvariable = page.servings | split: " " %} {% assign finished =
    false %} {% for item in myvariable %} {% assign isnum = item | times: 1 %}
    {% if isnum > 0 and finished == false %} {% assign total_servings = item |
    times: 1 %} {% assign finished = true %} {% endif %} {% endfor %} {% if
    finished == false %} {% assign total_servings = 1 %} {% endif %} {% if
    site.data.recipes_nutrition[page.uid]['calories'] and site.show_nutrition %}
    <li>
      Calories per serving: {{site.data.recipes_nutrition[page.uid]['calories']
      | divided_by: total_servings | round }}
    </li>
    {% endif %}
  </ul>
  <div class="recipe-contents">
    <div class="ingredients">
      <h2>Ingredients</h2>

      <ul>
        {% for item in page.ingredients %} {% assign item_slice = item | slice:
        0,2 %} {% if item_slice == "**" %}
        <br />{{ item | markdownify }} {% else %}
        <li>{{ item | markdownify | remove: '<p>' | remove: '</p>' }}</li>
        {% endif %} {% endfor %}
      </ul>
      <div id="GJZN-WDYB-USBK-RIMR">
        <script>
          whisk.queue.push(function () {
            whisk.display("GJZN-WDYB-USBK-RIMR");
          });
        </script>
      </div>
    </div>

    <div class="directions">
      <h2>Directions</h2>
      <ol>
        {% for item in page.directions %} {% assign item_slice = item | slice:
        0,2 %} {% if item_slice == "**" %}
        <br />{{ item | markdownify }} {% else %}
        <li>{{ item | markdownify }}</li>
        {% endif %} {% endfor %}
      </ol>
      {% if page.notes != "" %}
      <div class="notes">
        <h2>Notes</h2>
        {{ page.notes | markdownify }}
      </div>
      {% endif %}
    </div>
  </div>
  <div class="sharing">
    {% assign share_url = page.url | absolute_url | cgi_escape %}
    <a
      class="facebook"
      aria-label="facebook"
      href="https://www.facebook.com/sharer/sharer.php?u={{ share_url }}">Share on Facebook</a>
    <a
      class="email"
      aria-label="email"
      href="mailto:?subject=I've%20found%20a%20great%20recipe&amp;body=Check%20it%20out%20-%20{{ share_url }}">Email This Recipe</a>
  </div>

  <div class="cta">
    <h2>More delicious recipes</h2>
    <div class="button">
      <a href="{{ site.baseurl }}/recipes">Check out more recipes</a>
    </div>
  </div>
  {% if site.comments %} {% include comments.html %} {% endif %}
</div>
