---
layout: page
---
		<link rel="stylesheet" media="screen" href="{{ site.baseurl }}/assets/css/screen.css">
		{% if page.print_stylesheet %}
			<link rel="stylesheet" media="print" href="{{ site.baseurl }}/assets/css/print.css">
		{% endif %}
		<link rel="stylesheet" media="screen" href="{{ site.url }}/assets/css/recipe-list.css">

        <div class="image-grid">
				{% assign counter = 0 %}
        {% for i in (0..5) reversed %}
        	{% for recipe in site.data.recipes %}
            {% if recipe.rating == i and recipe.image_url %}
            	{% for category in recipe.categories %}
              	{% if category == "Web" %}
            			<a class="image-container" href="{{ recipe.name | downcase | replace: " ", "-" | replace: "á", "a" | remove: "(" | remove: ")" | remove: "[" | remove: "]" | remove: "'" | remove: "&" | remove: "!" | remove: "’" | remove: ","  }}.html">
										{%if counter < 2 %}
											{% picture {{ recipe.image_url  }} 1:1 --alt {{ recipe.name }} %}
										{% else %}
											{% picture lazy {{ recipe.image_url  }} 1:1 --alt {{ recipe.name }} %}
										{% endif %}
                		<div class="bottom-left"><h3 class="text-hover"><b>{{ recipe.name }}</b></h3></div>
            			</a>
									{% increment counter %}
                {% endif %}
              {% endfor %}
    		    {% endif %}
          {% endfor %}
        {% endfor %}
        </div>
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.3.1/dist/lazyload.min.js"></script>
