name: create new deploy hook
on: create

jobs:
  create_deploy_hook:
    runs-on: ubuntu-latest
    steps:
      - name: curl
        run: |
          rawbranch=${{github.ref_name}}
          branch=${rawbranch//[-]/___}
          curl -X POST "https://api.cloudflare.com/client/v4/accounts/${{ secrets.CLOUDFLARE_ACCOUNT_ID }}/pages/projects/contrast-theme/deploy_hooks" \
          -H "X-Auth-Email: ${{ secrets.EMAIL }}" \
          -H "X-Auth-Key: ${{ secrets.CLOUDFLARE_API_TOKEN }}" \
          -d '{"branch": "${{github.ref_name}}", "name": "github-${branch}"}' \
          -o newhook.json
      - name: gh_login
        run: |
          gh auth login --with-token <<< ${{ secrets.SECRET_CREATION_TOKEN }}
      - name: set_variable
        id: set_var
        run: |
          sudo apt-get install jq
          cat ./newhook.json
          gh secret set --repo "datapolitical/contrast-theme" "CF_${branch}_HOOK" --body "`jq ' .result.hook_id' newhook.json`"
          echo "hookname=secrets.CF_${branch}_HOOK" >> $GITHUB_ENV
          echo ${{ secrets[format('{0}', env.HOOKNAME)] }}
      - name: test
        run: |
          curl -X POST "https://api.cloudflare.com/client/v4/pages/webhooks/deploy_hooks/${{ secrets[steps.set_var.outputs.hookname] }}"
