name: create new deploy hook
on: create

jobs:
  create_deploy_hook:
    runs-on: ubuntu-latest
    steps:
      - name: curl
        run: |
          curl -X POST "https://api.cloudflare.com/client/v4/accounts/${{ secrets.CLOUDFLARE_ACCOUNT_ID }}/pages/projects/contrast-theme/deploy_hooks" \
          -H "X-Auth-Email: ${{ secrets.EMAIL }}" \
          -H "X-Auth-Key: ${{ secrets.CLOUDFLARE_API_TOKEN }}" \
          -d '{"branch": "${{github.ref_name}}", "name": "${{github.ref_name}}"}' \
          -o newhook.json
      - name: set_variable
        id: set_var
        run: |
          sudo apt-get install jq
          cat ./newhook.json
          jq '.result.hook_id' newhook.json
          echo "::set-output name=newhook::$content"
      - name: output
        run: |
          echo "${{fromJson(steps.set_var.outputs.newhook).results.hook_id}}"
