name: create new deploy hook
on: create

jobs:
  create_deploy_hook:
    runs-on: ubuntu-latest
    steps:
      - name: vars
        run: |
          export rawbranch=${{ github.ref_name }}
          echo $rawbranch
          export branchstep="${rawbranch//[-]/___}"
          echo $branchstep
          export branch="${branchstep^^}"
          echo $branch
          echo "::set-output name=branch::${branch}"
      - name: curl
        env: 
          BRANCH: ${{ steps.vars.outputs.branch }}
        run: |
          curl -X POST "https://api.cloudflare.com/client/v4/accounts/${{ secrets.CLOUDFLARE_ACCOUNT_ID }}/pages/projects/contrast-theme/deploy_hooks" \
          -H "X-Auth-Email: ${{ secrets.EMAIL }}" \
          -H "X-Auth-Key: ${{ secrets.CLOUDFLARE_API_TOKEN }}" \
          -d '{"branch": "${{github.ref_name}}", "name": "github-"${{ env.BRANCH }}' \
          -o newhook.json
      - name: gh_login
        run: |
          gh auth login --with-token <<< ${{ secrets.SECRET_CREATION_TOKEN }}
      - name: set_variable
        id: set_var
        env: 
          BRANCH: ${{ steps.vars.outputs.branch }}
        run: |
          sudo apt-get install jq
          cat ./newhook.json
          gh secret set --repo "datapolitical/contrast-theme" "CF_${{env.BRANCH}}_HOOK" --body "`jq ' .result.hook_id' newhook.json`"
          echo "::set-output name=outputhook::CF_${{env.BRANCH}}_HOOK"
      - name: curl_hook
        env:
          HOOKNAME: ${{steps.set_var.outputs.outputhook}}
        run: |
          echo ${{ secrets[env.HOOKNAME] }}
          curl -X POST "https://api.cloudflare.com/client/v4/pages/webhooks/deploy_hooks/${{ secrets[env.HOOKNAME] }}"
