name: create new deploy hook
on: create

jobs:
  create_deploy_hook:
    runs-on: ubuntu-latest
    steps:
      - name: curl
        run: |
          curl -X POST "https://api.cloudflare.com/client/v4/accounts/${{ secrets.CLOUDFLARE_ACCOUNT_ID }}/pages/projects/contrast-theme/deploy_hooks" \
          -H "X-Auth-Email: ${{ secrets.EMAIL }}" \
          -H "X-Auth-Key: ${{ secrets.CLOUDFLARE_API_TOKEN }}" \
          -d '{"branch": "${{github.ref_name}}", "name": "${{github.ref_name}}"}' \
          -o newhook.json
      - name: gh_login
        run: |
          gh auth login --with-token <<< ${{ secrets.SECRET_CREATION_TOKEN }}
      - name: set_variable
        id: set_var
        run: |
          sudo apt-get install jq
          cat ./newhook.json
          gh secret set --repo "datapolitical/contrast-theme" "CF_${{ github.ref_name }}_HOOK" --body "`jq ' .result.hook_id' newhook.json`"
          # echo "::set-output name=newhook::$content"
      - name: test
        run: |
          echo "BRANCH = ${{ github.ref_name }}"
          HOOK_ID="GH_${{ secrets[env.BRANCH] }}_HOOK"
          curl -X POST "https://api.cloudflare.com/client/v4/pages/webhooks/deploy_hooks/${{ secrets[env.HOOK_ID] }}"
