name: critical CSS

on:
  push:
    branches:

jobs:
  crittr:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          persist-credentials: false
          fetch-depth: 0


      - name: setup git config
        run: |
          git config --local user.name ${{ secrets.USERNAME_GITHUB }}
          git config --local user.email ${{ secrets.EMAIL }}
          echo "Git Setup Status:"
          git status
          # echo "SSL Key setup info"
          # ssh -vT git@github.com
          echo "Git Setup Remotes:"
          git remote -v
          echo "Git Pull:"
          git pull --ff-only origin ${{ github.ref_name }}

      - name: getcss
        run: |
          npm i crittr
          ls -a
          cat contrast_theme_node.js
          node contrast_theme_node.js
          cat assets/css/generated-critical.css
          git add assets/css/generated-critical.css
          git pull --ff-only origin ${{ github.ref_name }}

      - name: Prettify code
        uses: creyD/prettier_action@v4.1
        with:
        # This part is also where you can pass other options. For example:
          only_changed: true
          dry: true
          prettier_options: "--check --ignore-path .prettierignore --write ."
        # git add . goes here

      - name: commit
        run: |
          git commit -am "Update critical css" || echo "::set-output name=status::Nothing to update"
      - name: Push changes
        if: steps.get_data.outputs.status != 'Nothing to update' && ${{ !env.ACT }}
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
