name: critical CSS

on:
  push:

jobs:
  crittr:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          persist-credentials: false
          fetch-depth: 0


      - name: setup git config
        run: |
          git config --local user.name ${{ secrets.USERNAME_GITHUB }}
          git config --local user.email ${{ secrets.EMAIL }}
          echo "Git Setup Status:"
          git status
          # echo "SSL Key setup info"
          # ssh -vT git@github.com
          echo "Git Setup Remotes:"
          git remote -v
          echo "Git Pull:"
          git pull --ff-only origin ${{ github.ref_name }}

      - name: setup ruby
        uses: actions/setup-ruby@v1
        with:
          ruby-version: 2.7

      - name: Clean install dependencies
        run: |
          sudo apt-get update && sudo apt-get install -y libvips-dev

      - name: cache gems
        uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: ${{ runner.os }}-gems-

      - name: getcss
        run: |
          cd ..
          pwd
          git clone https://github.com/datapolitical/chrisfnicholson
          cd chrisfnicholson
          echo "reached config"
          bundle config set local.contrast-theme $GITHUB_WORKSPACE

      - name: bundle install
        run: |
          cd ../chrisfnicholson
          pwd
          bundle install --path=vendor/bundle --jobs 4 --retry 3 --verbose
          convert --version

      - name: jekyll build
        run: |
          cd ../chrisfnicholson
          pwd
          bundle exec jekyll build --destination gh-pages --config _config.yml

      - uses: actions/setup-node@v3
        with:
          node-version: 17
          cache: 'npm'
          cache-dependency-path: ../chrisfnicholson/package-lock.json

      - name: get css
        run: |
          cd ../chrisfnicholson
          pwd
          npm i crittr
          ls -a
          cat contrast_theme_node.js
          node contrast_theme_node.js ${{ github.ref_name }}
          echo "Raw generated File"
          cat assets/css/generated-critical.css
          git pull --ff-only origin ${{ github.ref_name }}

      - name: amend and commit
        run: |
          cd ..
          cp chrisfnicholson/assets/css/generated-critical.css contrast-theme/assets/css/generated-critical.css
          cd contrast-theme
          echo "Committed Generated File"
          cat assets/css/generated-critical.css
          git add assets/css/generated-critical.css
          git commit -m "Update critical css" || echo "::set-output name=status::Nothing to update"

      - name: push
        run: |
          git push --dry-run "https://${{github.actor}}:${{github.token}}@github.com/${{github.repository}}.git" "HEAD:${{github.ref_name}}"
