name: critical CSS

on:
  workflow_dipatch:

jobs:
  crittr:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          persist-credentials: false
          fetch-depth: 0


      - name: setup git config
        run: |
          git config --local user.name ${{ secrets.USERNAME_GITHUB }}
          git config --local user.email ${{ secrets.EMAIL }}
          echo "Git Setup Status:"
          git status
          # echo "SSL Key setup info"
          # ssh -vT git@github.com
          echo "Git Setup Remotes:"
          git remote -v
          echo "Git Pull:"
          git pull --ff-only origin ${{ github.ref_name }}

      - name: getcss
        run: |
          if [[ ${{github.ref_name}} == 'master' ]]; then
          wget https://contrast-theme.pages.dev/assets/css/stylesheet.css
          else
            wget https://${{github.ref_name}}.contrast-theme.pages.dev/assets/css/stylesheet.css
          fi
          npm i crittr
          ls -a
          cat contrast_theme_node.js
          node contrast_theme_node.js ${{ github.ref_name }}
          echo "Raw generated File"
          cat assets/css/generated-critical.css
          git pull --ff-only origin ${{ github.ref_name }}

      - name: amend and commit
        run: |
          echo "Committed Generated File"
          cat assets/css/generated-critical.css
          git add assets/css/generated-critical.css
          git add package-lock.json
          git commit -m "Update critical css" || echo "::set-output name=status::Nothing to update"

      - name: push
        run: |
          git push "https://${{github.actor}}:${{github.token}}@github.com/${{github.repository}}.git" "HEAD:${{github.ref_name}}"
