name: use deploy hook
on: push

jobs:
  test_deploy_hook:
    runs-on: ubuntu-latest
    if: "!contains(github.event.commits[0].message, '[no-ci]')"
    steps:
      - name: set_variable
        id: set_var
        run: |
          branch = ${{ github.ref_name }}
          echo "HOOKNAME2=CF_${{ github.ref_name^^ }}_HOOK" >> $GITHUB_ENV
          echo "HOOKNAME=CF_TESTNEWBRANCH_HOOK" >> $GITHUB_ENV
          echo "::set-output name=outputhook2::CF_${branch^^}_HOOK"
          echo "::set-output name=outputhook::CF_TESTNEWBRANCH_HOOK"
      - name: curl_hook
        env:
          HOOKNAME: ${{steps.set_var.outputs.outputhook}}
          HOOKNAME2: ${{steps.set_var.outputs.outputhook2}}
        run: |
          echo ${{ secrets[env.HOOKNAME] }}
          curl -X POST "https://api.cloudflare.com/client/v4/pages/webhooks/deploy_hooks/${{ secrets[env.HOOKNAME] }}"
