# This is a basic workflow that is manually triggered

name: Deploy main site check

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  push:
    branches:
      - master


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "greet"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Runs a single command using the runners shell
    - name: send
      if: github.ref_name == 'master' && contains(github.event.commits[0].message,'[build]')
      run: |
        curl -X POST "${{ secrets.CLOUDFLARE_DEPLOY }}"

    - name: send2
      if: 1==0 && github.ref_name == 'master' && !(contains(github.event.commits[0].message,'[build]')) && !(contains(github.event.commits[0].message,'[no build]'))
      run: |
        curl -X POST "${{ secrets.CLOUDFLARE_THEME_DEPLOY }}"
