name: use deploy hook
on: push

jobs:
  test_deploy_hook:
    runs-on: ubuntu-latest
    if: "!contains(github.event.commits[0].message, '[no-ci]')"
    steps:
      - name: set_var
        id: set_var
        run: |
          export rawbranch=${{ github.ref_name }}
          export branch="${rawbranch//[-]/___}"
          echo "::set-output name=outputhook::CF_${branch^^}_HOOK"
          export branchstep="CF_${branch^^}_HOOK"
          echo "BRANCHFUL=$(echo $BRANCHSTEP)" >> $GITHUB_ENV
          export secret=${{ secrets[env.BRANCHFUL] }}
          echo "BRANCHCHECK=$(echo $SECRET)" >> $GITHUB_ENV
          echo "::set-output name=secret::${{ secrets[env.BRANCHFUL] }}"
      - name: curl_hook
        if: env.BRAINCHECK
        env:
          HOOKNAME: ${{steps.set_var.outputs.outputhook}}
        run: |
          echo ${{steps.set_var.outputs.outputhook}}
          echo ${{ secrets[env.HOOKNAME] }}
          curl -X POST "https://api.cloudflare.com/client/v4/pages/webhooks/deploy_hooks/${{ secrets[env.HOOKNAME] }}"
