name: use deploy hook
on: push

jobs:
  test_deploy_hook:
    runs-on: ubuntu-latest
    if: "!contains(github.event.commits[0].message, '[no-ci]')"
    steps:
      - name: set_var
        id: set_var
        run: |
          export rawbranch=${{ github.ref_name }}
          export branch="${rawbranch//[-]/___}"
          echo "::set-output name=outputhook::CF_${branch^^}_HOOK"
      - name: curl_hook
        if: ${{secrets[env.HOOKNAME]}}
        env:
          HOOKNAME: ${{steps.set_var.outputs.outputhook}}
        run: |
          echo ${{ secrets[env.HOOKNAME] }}
          curl -X POST "https://api.cloudflare.com/client/v4/pages/webhooks/deploy_hooks/${{ secrets[env.HOOKNAME] }}"
